<% provide(:title,'Home') %>

<div>
  <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pretium odio. Quisque malesuada diam ut massa rutrum rutrum.
    Aliquam mattis ligula nulla, id pharetra orci venenatis in. Cras eget lacus convallis, aliquam mi nec, efficitur nunc.
    Aliquam id varius purus. In eu eros consequat, sodales nisl in, facilisis eros. Nunc luctus lorem id vulputate egestas.
    Proin auctor quis turpis id tempor. Donec commodo ultrices cursus. Duis porttitor dolor id erat scelerisque mattis.
    Curabitur accumsan turpis id justo eleifend vestibulum. Ut vehicula condimentum magna at viverra.
    Aliquam erat volutpat. Quisque bibendum pretium magna, in scelerisque nunc aliquam eget.
    Sed dictum viverra felis, at venenatis ipsum ultrices a. In eu sapien nisl. Etiam elit nisl, suscipit quis nunc nec,
    eleifend ultrices nisi. Quisque et dignissim ante. Nulla facilisi. Suspendisse dignissim, ipsum eu cursus semper, elit
    quam vehicula nunc, sit amet tincidunt diam elit sit amet ipsum. Cras lobortis maximus mi quis sollicitudin.
    Suspendisse volutpat tristique nibh, et dignissim lorem ullamcorper sed. Etiam at laoreet dolor, ac vehicula massa.
    Vestibulum dictum mi tellus, quis consectetur dolor faucibus vel.
    Duis eget lorem in lacus aliquet condimentum quis at augue. Nulla congue rutrum sodales. Nullam vitae porta mauris,
    sit amet suscipit nibh. Ut imperdiet neque quis elit tempus, nec finibus nisl convallis. Sed interdum sed augue ac
    pharetra. Proin fermentum auctor lectus, sit amet cursus augue ornare non. Maecenas sed elementum lectus.
    Integer sed venenatis lacus, quis volutpat velit. Sed metus sem, cursus vulputate neque eu, fermentum viverra nibh.
    Sed mattis ornare nunc, at luctus ligula porta vel. Sed suscipit condimentum augue, in euismod diam vulputate id.
    Sed molestie enim lacinia odio imperdiet, nec elementum lectus tincidunt. Mauris vitae dolor auctor, sagittis diam
    pretium, mattis lacus. Fusce efficitur commodo rhoncus.
  </p>
</div>

