<script id="entry" type="text/x-handlebars-template">
  <div  class="collapse-card entry_container" id="{{GroupId}}E">

    <div class="title entryHeader ">
      <div class="Name" > {{Name}} </div>
      <div class="Domain {{Domain}}" id="">
        {{Domain}}
      </div>
      <div class="SubDomain {{SubDomain}}">
        {{SubDomain}}
      </div>
    </div>

    <div class="body">
    <div class="entryBody">

      <div class="description">
        <label class="sectionDescription">Description</label>
        {{Description}}
      </div>

      <div class="attributes">

        <div class="attrInfo">
          <label class="sectionDescription">Node and Edge Info</label>
          <div class="NodeType">
            <span id="nodeTypeLabel"> Node Type:</span>
            <span id="nodeTypeVal"> {{NodeType}} </span>
          </div>
           <div class="EdgeType">
            <span id="edgeTypeLabel"> Edge Type:</span>
            <span id="edgeTypeVal"> {{EdgeType}} </span>
          </div>

        </div>

        <div class="graphInfo">
          <label class="sectionDescription">Graph Properties</label>
          <div class="GraphFormat"> <span> {{GraphProperties}} </span></div>
        </div>

      </div>

    </div>

    <div class="entryFooter">
      <label class="sectionDescription">Source and Citation</label>
      <div class="source">
        <a href="{{InfoLink}}"> Source </a>
      </div>
      <div class="citation">
        {{Citation}}
      </div>
    </div>

    <div class="additionalGroup" id="{{GroupId}}">
      <label class="sectionDescription">Individual Graphs and Info</label>
      <table class="pure-table pure-table-horizontal groupTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Nodes</th>
            <th>Edges</th>
            <th>File Size</th>
            <th>File Type</th>
            <th>Download Link</th>
          </tr>
        </thead>
        <tbody class="groupTableData"></tbody>
      </table>
    </div>

    <div style="clear:both;"></div>
    </div>
  </div>
</script >

<script id="group" type="text/x-handlebars-template">
  <tr>
    <th>{{Name}}</th>
    <th>{{Nodes}}</th>
    <th>{{Edges}}</th>
    <th>{{FileSize}}</th>
    <th>{{FileType}}</th>
    <th><a href="{{DataLink}}"> Download </a></th>
  </tr>
</script>

