<script id="entry" type="text/x-handlebars-template">
  <div  class="entry_container pure-g" id="{{GroupId}}E">

    <div class="t pure-u-1-1 entryHeader">
      <div class="Name" > {{Name}} </div>
      <div class="Domain {{Domain}}" id="">
        {{Domain}}
      </div>
      <div class="SubDomain {{SubDomain}}">
        {{SubDomain}}
      </div>
    </div>

    <div class="row pure-u-1-1 entryBody">

      <div class="pure-u-1-2 description">
        {{Description}}
      </div>

      <div class="pure-u-1-2 attributes">

        <div class="pure-g-r nodeInfo">
          <div class="pure-u Nodes">
            <span class="my_label"> Nodes: {{Nodes}} </span>
          </div>
          <div class="pure-u NodeType">
            <span class="my_label"> Node Type: {{NodeType}} </span>
          </div>
        </div>

        <div class="pure-g-r edgeInfo">
          <div class="pure-u Edges">
            <span class="pure-u my_label"> Edges: {{Edges}} </span>
          </div>
          <div class="pure-u EdgeType">
            <span class="my_label"> Edge Type: {{EdgeType}} </span>
          </div>
        </div>

        <div class="pure-g-r graphInfo">
          <div class="GraphFormat"> <span class="my_label"> Format: {{GraphFormat}} </span></div>
        </div>

      </div>

    </div>

    <div class="pure-u-1-1 entryFooter">
      <div class="pure-u-1-2 citation">
        {{Citation}}
      </div>
      <div class="pure-u-1-2 source">
        <a href="{{InfoLink}}"> Source </a>
      </div>
    </div>

    <div class="pure-g-r">
      <div class="additionalGroup" id="{{GroupId}}"></div>
    </div>

  </div>
</script >

<script id="group" type="text/x-handlebars-template">
  <div class="row" id="additionalGroupEntry">
    <div class="Name" id="groupN"> {{Name}} </div>
    <a href="{{DownloadLink}}" class="tiny button" > Download </a>
    <a href="{{InfoEntry}}" class="tiny button"> More Info </a>
    <div class="pure-u-1-2" id="fileInfo">
      <div class="FileSize"> <span class="my_label"> File Size: {{FileSize}} </span></div>
      <div class="FileType"> <span class="my_label">File Type: {{FileType}} </span></div>
    </div>
  </div>
</script>

