<script id="entry" type="text/x-handlebars-template">
<div  class="entry_container" id="{{id}}">
  <div class="top">
    <div class="Name" >{{Name}}</div>
      <div class="Domain" style="border-top: solid {{Domain}}" id="green">
        {{ Domain }}
      </div>
      <div class="SubDomain" style="border-top: solid {{Blue}}">
        {{SubDomain}}
      </div>
      </div>
      <div class="row">
        <div onclick="showHide(this)" class="large-6 columns panel collapse" id="left">
          <div class="Descriptions" >{{Description}}</div>
          <div class="Citation">{{Citation}}</div>
        </div>
        <div onclick="showHide(this)" class="large-6 columns panel collapse" id="right">
          <div class="row">
            <div class="Nodes"> <span class="my_label"> Nodes: {{Nodes}}</span> </div>
            <div class="NodeType"><span class="my_label"> Node Type: {{ NodeType }}</span> </div>
          </div>
          <div class="row">
            <div class="Edges"> <span class="my_label"> Edges: {{Edges}}</span> </div>
            <div class="EdgeType"><span class="my_label"> Edge Type: {{EdgeType}}</span> </div>
          </div>
          <div class="row">
            <div class="GraphFormat"> <span class="my_label"> Format: {{GraphFormat}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
</script>
<div class="boxed">
<p> Our Data Sets | Descriptive Stats here </p>
</div>

<ul class="tabs" data-tab>
  <li class="tab-link current" data-tab="tab-1">Browse</li>
  <li class="tab-link" data-tab="tab-2">Search</li>
</ul>

<div class="tabs-content">
  <div class="tab-content current" id="tab-1">

    <table>

      <tr>

        <td><label>Network Type
            <select id="Type">
              <option value="All">All</option>
            </select>
          </label>

          <label> Group
            <select id="Group">
              <option value="All">All</option>
            </select>
          </label></td>

          <td>
            <label>
              Nodes: <span id="nodeSliderVal"></span>
              Min: <span id="nodeMin"></span>
              Max: <span id="nodeMax"></span>
              <div class="slider" id="nodes"></div>
            </label><br>

            <label>
              Edges: <span id="edgeSliderVal"></span>
              Min: <span id="edgeMin"></span>
              Max: <span id="edgeMax"></span>
              <div class="slider" id="edges"></div>
            </label>
          </td>

          <td><label>
              Size: <span id="sizeSliderVal"></span>
              Min: <span id="sizeMin"></span>
              Max: <span id="sizeMax"></span>
              <div class ="slider" id="file_size"></div>
            </label><br> <!-- TODO fix alignment -->

            <label> FileType
              <select id="FileType">
                <option value="All">All</option>
              </select>
            </label>

          </td>
      </tr>

    </table>

  </div>
  <div class="tab-content" id="tab-2">
    <form id="search-bar" onsubmit="return process_search();">
      <input id="query" type="text"></input>
    </form>
  </div>
</div>
