<!-- This is placed in here because this document will be loaded into an iframe -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="import" href="/assets/core-menu/core-menu.html">
<link rel="import" href="/assets/core-selector/core-selector.html">
<link rel="import" href="/assets/polymer/polymer.html">
<link rel="import" href="/assets/paper-input/paper-input.html">
<link rel="import" href="/assets/paper-slider/paper-slider.html">
<link rel="import" href="/assets/paper-interval-slider/paper-interval-slider.html">
<link rel="import" href="/assets/paper-item/paper-item.html">
<link rel="import" href="/assets/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/assets/paper-dropdown-menu/paper-dropdown-menu.html">
<% provide(:title,'Data') %>

<div id="entry">

  <div id="selectors">

    <div class="dropdownContainer">
      <label class="dropdownLabel"> Network Type</label>
      <paper-dropdown-menu label="Network Type" >
        <paper-dropdown class="dropdown">
          <core-menu id="Type" class="menu" selected="0">
              <paper-item label="All">All</paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
    </div>

    <div class="dropdownContainer">
      <label class="dropdownLabel"> Group </label>
      <paper-dropdown-menu label="Group">
        <paper-dropdown class="dropdown">
          <core-menu id="Group" class="menu" selected="0" on-core-select="{{menuSelectAction}}">
            <paper-item label="All">All</paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
    </div>

    <div class="dropdownContainer">
      <label class="dropdownLabel"> Graph Properties </label>
      <paper-dropdown-menu label="Graph Properties">
        <paper-dropdown class="dropdown">
          <core-menu id="GraphProperties" class="menu" selected="0" on-core-select="{{menuSelectAction}}">
             <paper-item label="All">All</paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
    </div>

    <div class="dropdownContainer" id="dropdown4">
      <label class="dropdownLabel"> File Type </label>
      <paper-dropdown-menu label="File Type">
        <paper-dropdown class="dropdown">
          <core-menu id="FileType" class="menu" selected="0" on-core-select="{{menuSelectAction}}">
            <paper-item label="All">All</paper-item>
          </core-menu>
        </paper-dropdown>
     </paper-dropdown-menu>
    </div>

  </div>

  <div id="sliders">

    <div class="sliderContainer">
      <label class="sliderLabel"> Nodes </label>
      <paper-interval-slider id="nodes" pin="true" min="10" max="200" valueA="110" valueB="130"></paper-interval-slider>
    </div>

    <div class="sliderContainer">
      <label class="sliderLabel"> Edges </label>
      <paper-interval-slider id="edges" pin="true" min="10" max="200" value="110" valueB="130"></paper-interval-slider>
    </div>

    <div class="sliderContainer">
      <label class="sliderLabel"> File Size </label>
      <paper-interval-slider pin="true" min="10" max="200" valueB="130"></paper-interval-slider>
    </div>
  </div>


  <paper-input-decorator id="searchInput" label="Filter by text" floatingLabel="true">
    <input is="core-input" placeholder="Filter by text" aria-label="Filter by Text">
  </paper-input-decorator>

</div>

<div class="content"></div>

