/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

$header_color: #607D8B;
//$header_color: white;
$slider_color: $header_color;
//$background_color: white;
$background_color: #eee;
$card_bg_color: white;
$menu_padding: 56px;

#dataInterface
{
  float:left;
  width: 300px;
  height: 400px;
  padding-left: 0px;
  margin-left: 20px;
  font-size: 15px;
  color: #444;
  font-weight: normal !important;

  #sliders
  {
    margin-top: 15px;
    margin-left: 20px;
    paper-slider
    {
      margin-left: 0;
    }
  }

  #selectors
  {
    margin-left: 20px;
  }

}

#siteTitle
{
  font-size: 30px;
}

paper-slider::shadow #sliderBar::shadow #activeProgress,
#sliderKnobInner
{
  background-color: $slider_color;
}

paper-slider::shadow #sliderKnobInner
{
  background-color: $slider_color;
}

paper-slider::shadow #sliderKnobInner::before
{
  background-color: $slider_color;
}
