/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

$header_color: orange;
$background_color: #eee;
$card_bg_color: white;
$menu_padding: 56px;

#dataInterface
{
  float:left;
  width: 75%;
  height: 500px;
  background-color: #E8E9E4;
  margin-left: 20px;
  font-size: 15px;
  color: #444;
  font-weight: normal !important;
  #sliders
  {
    margin-left: 20px;
    paper-slider
    {
      margin-left: 0;
    }
  }

  #selectors
  {
    float: left;
    margin-left: 20px;
  }

}
