// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@CHARSET "UTF-8";
@import "foundation/components/global";
@import "foundation/components/labels";
@import "foundation/settings";

$my_float: right;
$bg_color: #F7F7F7;
$shadow: rgb(111, 111, 111);
//$bg_color: #DEDED;

.boxed
 {
   background-color: $bg_color;
   border: thin solid lightgrey;
  // -webkit-box-shadow: 0 0 10px $shadow;
   border: thin solid lightgrey;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 20px;
 // -moz-box-shadow: 0 0 10px $shadow;
   //margin-top: 20px;
   //padding: 20px;
 }

.t
{
  background-color: $bg_color;
  border-top:   thin solid lightgrey;
  border-right: thin solid lightgray;
  border-left:  thin solid lightgray;

  overflow: hidden;
 // margin-top: 20px;
  text-align: center;
//  padding: 5px;
}

.fileInfo
{
  overflow: hidden;
  background-color: $bg_color;
  border-bottom: thin solid lightgrey;
  border-left: thin solid lightgrey;
  border-right: thin solid lightgrey;
  //margin-bottom: 20px;
  height: 30px;

  .FileSize
  {
    float: right;
    padding-top: 3px;
    padding-right: 3px;
  }
  .FileType
  {
    float: right;
   // margin-top: 3px;
    //margin-right: 1px;
    padding: 3px;
  }  //padding: 20px;

}

#groupButtons
{
  float: right;
}

.additional_entries
{
  position: relative;
}

.entry_container
{
  background-color: $bg_color;
  border: thin solid lightgrey;
 // -webkit-box-shadow: 0 0 10px $shadow;
 // -moz-box-shadow: 0 0 10px $shadow;
  margin-top: 20px;

}

div[id*=left], div[id*=right]
{
  overflow: hidden;
}


.Descriptions
{
  padding-top: 4px;
  margin-left: 5px;
}

.Citation
{
  font-size: 12;
  margin-left: 5px;
}

.Name
{
  float: left;
  //margin-top: 2px;
  //margin-left: 2px;
  //position: relative;
  padding: 2px;
  width: 399px;
  text-align: left;
}

.Domain
{
  position: relative;
  float: right;
//  margin-right: 5px;
  //margin-bottom: 2px;
  padding: 2px;
}

.SubDomain
{
  position: relative;
 // margin-right: 5px;
  //margin-bottom: 2px;
  padding: 2px;
  float: right;
}

$element_pos: relative;
//.GraphInfo
//{
  .Nodes
  {
    float: $my_float;
    position: $element_pos;
    margin-right: 20px;
    margin-top: 6px;
  }

  .NodeType
  {
    float: $my_float;
    position: $element_pos;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
  }


  .Edges{
    float: $my_float;
    position: $element_pos;
    margin-right: 20px;
    margin-left: 6px;
    margin-bottom: 6px;
  }

  .EdgeType
  {
    float: $my_float;
    position: $element_pos;
  }

  .GraphFormat
  {
    float: $my_float;
    position: $element_pos;
    margin-right: 20px;
    margin-bottom: 6px;
  }

  .attrs
  {
    float: $my_float;
    margin-right: 20px;
    position: $element_pos;
  }

//  padding-left: 30px;
 // margin-bottom: 10px;
 // position: absolute;
  //overflow: hidden;
//}

.gP
{
  //float: right;
  border-right: thin solid lightgray;
  border-left: thin solid lightgray;
}

#groupN
{
  float: left;
}

#additionalGroupEntry
{
  border-bottom: thin solid lightgray;
  border-left: thin solid lightgray;
  border-right: thin solid lightgray;
  overflow: hidden;
}

.additionalGroup
{
  display: none;
}

.my_label
{
  padding: 2px;
  background-color: #E0E0E0;
  border: thin solid lightgray;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: slategray;
  color: #ffffff;
  display: inline-block;
  float: left;
  padding: 10px 0px;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

ul.tabs li.current{
  background: #68667B;
  color: #ffffff;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 20px;
  border: thick solid #68667B;
}

.tab-content.current{
  display: inherit;
}

