// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@CHARSET "UTF-8";

$my_float: left;

.boxed
 {
   background-color: #F7F7F7;
   border: thin solid lightgrey;
   //margin-top: 20px;
   //padding: 20px;
 }

.t
{
  background-color: #F7F7F7;
  border-top:   thin solid lightgrey;
  border-right: thin solid lightgray;
  border-left:  thin solid lightgray;

  overflow: hidden;
 // margin-top: 20px;
  text-align: center;
//  padding: 5px;
}

.fileInfo
{
  overflow: hidden;
  background-color: #F7F7F7;
  border: thin solid lightgrey;
  margin-bottom: 20px;

  .FileSize, .FileType
  {
    float: right;
    margin-right: 10px;
  }  //padding: 20px;

}

.entry_container
{
  background-color: #F7F7F7;
 // border: thin solid lightgrey;
  margin-top: 20px;
}

#left, #right
{
  overflow: hidden;
}


.Description
{
}

.Citation
{
  font-size: 12;
  margin-left: 5px;
}

.Name
{
  float: left;
  margin-top: 2px;
  position: relative;
}

.Domain
{
  position: relative;
  float: right;
//  margin-right: 5px;
  //margin-bottom: 2px;
  padding: 3px;
}

.SubDomain
{
  position: relative;
 // margin-right: 5px;
  //margin-bottom: 2px;
  padding: 3px;
  float: right;
}

$element_pos: relative;
.GraphInfo
{
  .Nodes, .NodeType
  {
    float: $my_float;
    position: $element_pos;
    margin-right: 10px;
  }


  .Edges, .EdgeType
  {
    float: $my_float;
    position: $element_pos;
    margin-right: 10px;
  }

  .GraphFormat
  {
    float: $my_float;
    margin-right: 10px;
    position: $element_pos;
  }

  margin-left: 30px;
  margin-bottom: 10px;
  position: absolute;
  //overflow: hidden;
}

.gP
{
  //float: right;
  border-right: thin solid lightgray;
  border-left: thin solid lightgray;
}

#foo
{
  display: block;
  overflow: hidden;
}
