// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#update, #create, .radio {
    display: inline;
}
.radio {
    padding-top: 7px;
}

#create, #update {
    font-size: 150%;
}

#update {
    padding-left: 40px;
}
